$breakpoints: (
		'extra-small': (max-width: 576px),
		'small': (min-width: 576px),
		'medium': (min-width: 768px),
		'large': (min-width: 992px),
		'extra-large': (min-width: 1200px)
);

$sprite: url('../images/sprite.png');
$color-font-dark: #282c37;
$color-bg-light: #fff;
$color-red: #fa917a;
$color-grey: #767676;