.aside {
	position: relative;
	flex: 0 0 190px;
	padding-right: 10px;

	.list {
		display: none;
		@include respond-to('large') {
			display: block;
		}

		@at-root .aside:hover .list {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background: #fff;
			display: block;
			@include respond-to('large') {
				position: static;
				width: auto;
				top: auto;
				left: auto;
			}
		}
	}

	.title {
		text-decoration: underline;
		color: $color-red;
		font-size: 18px;
		cursor: pointer;
		@include respond-to('large') {
			display: none;
		}
	}

	.item {
		margin-bottom: 2px;
	}

	.item-name {
		font-weight: 300;
		color: $color-grey;
		font-size: 16px;
		line-height: 2;
		cursor: pointer;


		@at-root .item.active > .item-name,
		&:hover {
			color: $color-red;
		}
	}

	.sub-list {
		list-style: disc inside;
		margin-left: 8px;
	}

	.sub-item {
		color: $color-grey;
		font-size: 14px;
		line-height: 2;
		cursor: pointer;

		&:hover,
		&.active {
			color: $color-red;
			text-decoration: underline;
		}
	}

	.price {
		margin-top: 20px;
		@include respond-to('large') {
			margin-top: 75px;
		}
	}

	.image {
		display: inline-block;
		width: 30px;
		height: 33px;
		background-image: $sprite;
		vertical-align: middle;
	}

	.text {
		display: inline-block;
		color: $color-red;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.6;
		vertical-align: middle;
	}
}


