.breadcrumbs {
	margin: 10px 0;
	@include respond-to('large') {
		margin: 60px 0;
	}

	.item {
		display: inline-block;
		font-size: 16px;
		font-weight: 400;

		&:last-of-type {
			color: #a2a2a2;
		}
	}
}
