.feedback {
	.label {
		display: block;
		font-size: 14px;
		font-weight: 300;
		color: #535353;
		margin: 5px 0;
	}

	.input,
	.textarea {
		width: 100%;
		border: 1px solid #c3c3c3;
		background-color: #fff;
		font-size: 14px;
		font-weight: 300;
		padding: 13px 15px;
		margin-bottom: 10px;
		@include respond-to('large') {
			width: 341px;
		}
	}

	.require {
		&::after {
			content: '*';
			display: inline-block;
			vertical-align: top;
			margin: 0 8px;
			color: #c61015;
		}
	}

	.error {
		color: #dc7f7f;
		border: 1px solid #ff8383;
		box-shadow: inset 0 0 13px rgba(228, 106, 106, .75);
	}

	.textarea {
		resize: none;
		height: 142px;
	}

	.btn {
		background-color: #282c37;
		margin: 7px 0 0;
		border: 0;
		padding: 14px 47px;
	}

	.btn-wrap {
		text-align: right;
	}
}
